<div class="modal-dialog">
    <form class="form-horizontal" role="form">
        <div class="modal-content" style="width: 400px;">
            <div class="modal-header">
                <div class="modal-title">Sign-up form</div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="login">Login:</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="login" id="login" value="{{login}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="password">Password:</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" name="password" id="password" value="{{password}}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input class="btn btn-default" type="submit" id="login" value="Login" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="message"></div>
            </div>
        </div>
    </form>
</div>
